$white_color: #fff;
$blue_dark: #17607d;
$blue_light: #0096ff;
$orange_bright: #ff4f00;
$orange_yellow: #ff9311;
$gray_smoth: #d2d2d2;

$text_gray_on_white: #747474;

$roboto: 'Roboto Slab', serif;
$open_sans: 'Open Sans', sans-serif;

/* global style*/
*{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}
.btn-place{
    text-align: center;
    padding: 30px;

    .btn-tr{
        background: transparent;
        font-family: $open_sans !important;
        font-weight: 300;
    }

    .btn-orange{
        border: solid 1px $orange_bright;
        color: $orange_bright;
        transition: all 0.3s ease-out;
        &:hover{
            border: solid 1px $orange_yellow;
            color: $orange_yellow;
        }
    }

    .btn-blue-light{
        border: solid 1px $blue_light;
        color: $blue_light;
        transition: all 0.3s ease-out;
        &:hover{
            border: solid 1px $blue_dark;
            color: $blue_dark;
        }
    }
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.text-white{
  color: white;
}
/* global style*/

#top-nav{
    background-color: $blue_dark;
    color: $white_color;
    text-align: right;
    padding: 5px 0px;
}

.navbar{
    border-bottom: solid 3px $blue_dark;
    margin-bottom: 0px;
    font-family: $roboto;

    .navbar-brand{
        height: auto;
        padding: 8px 15px;
    }
    .nav{
        padding-top: 15px;
        a{
            text-transform: uppercase;
            font-size: 12px;
            color: $blue_dark;
        }
        .active{
            a{
                color: $orange_bright;
            }
        }
    }
}

header{
    color: $white_color;
    background: url(../img/10495386_10152481683036253_1035897877323459436_o.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    .overlay{
        padding: 60px 0px;
        z-index: 1;
        background: url(../img/header-overlay.png) no-repeat;
        background-position: center center;
        background-size: cover;
    }

    h1, h4{
        text-align: center;
    }

    h1{
        font-family: $roboto;
        font-size: 3.750em;
    }
    h4{
        font-family: $roboto;
        font-size: 1.875em;
        font-weight: 300;

        &.date-location{
            font-family: $open_sans;
            padding: 1.875em 0;

            div{
                &:first-child{
                    text-align: right;
                }

                &:last-child{
                    text-align: left;
                }
            }
        }
    }

    #counter{
        .wing{
            margin-top: 10px;
            height: 3px;
            background: $white_color;

            &:after{
                content: '';
                width: 100%;
                height: 1px;
                background: $white_color;
                position: absolute;
                left: 0px; right: 0px;
                top: 6px;
            }
        }

        .time{
            font-family: $roboto;
            font-size: 30px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            span{
                font-size: 14px;
                font-weight: 300;
                display: inline-block;
            }
        }
    }
}

.wrap{
    padding: 2.50em 0px;

    .title{
        font-family: $roboto;
        font-size: 2.250em;

        .fa{
            color: $orange_bright !important;
        }
    }

    .content{
        padding-left: 3.5em;

        .y-video{
            padding: 0px 12% 3%;
            iframe{
                margin: auto;
                max-width: 100%;
            }
        }
    }
}

#about {
    p{
        color: $text_gray_on_white;
    }
}
#about-overview{
    margin-bottom: 30px;
    >div{
        text-align: center;
    }
    .qty, fa, .qty-label{
        display: block !important;
    }

    .qty{
        font-family: $roboto;
        font-size: 48px;
        font-weight: 400;
    }

    .fa{
        color: $orange_yellow;
    }

    .qty-label{
        font-family: $roboto;
        font-size: 18px;
        font-size: 300;
        color: $text_gray_on_white;
    }
}
#about-agenda{
    >div{
        margin-bottom: 20px;
        text-align: center;
        color: $text_gray_on_white;

        .fa{
            color: $blue_dark;
        }
    }
}

#schedule{
    background: url(../img/12477555374_8c62f069bf_k.jpg) no-repeat;
    background-position: center center;
    background-size: cover;

    .title{
        color: $white-color;
    }

    .overlay{
        background-color: rgba(0,0,0,.75);
    }

    h2{
        color: $orange_bright;
        font-family: $open_sans;
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 15px;
    }

    //colors

    //@extend-elements
    //original selectors
    //.marker-pin .top, .marker-pin .bottom
    %extend_1 {
        height: 50%;
        width: 2px;
        border-left: 2px solid $orange_bright;
        position: absolute;
        z-index: 1;
        //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.3s ease-out;

        left: 2px;
    }


    .schedule-overview {
        font-family: $open_sans;
        border: 1px solid $orange_yellow;
        margin-bottom: 36px;
        li {
            padding: 10px;
            position: relative;
            cursor: pointer;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 0.3s ease-out;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                .schedule-text {
                    max-height: 300px;
                    opacity: 1;
                    padding-top: 5px;
                }
                .top {
                    border-color: $orange_yellow;
                }
                .bottom {
                    border-color: $orange_yellow;
                }
                .middle {
                    border-color: $orange_yellow;
                    background: $orange_yellow;
                }
            }
            &:first-child .top {
                display: none;
            }
            &:last-child .bottom {
                display: none;
            }
        }
    }
    .schedule-title {
        span {
            display: block;
            font-size: 16px;
        }

        .title {
            color: $orange_bright;
            font-family: $open_sans;
        }
        .time{
            font-family: $open_sans;
            color: $orange_yellow;
            font-size: 14px;
        }
    }
    .schedule-text {
        max-height: 0;
        //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.3s ease-out;
        opacity: 0;
    }
    .schedule-with-text {
        .btn {
            margin-top: 24px;
            margin-right: 12px;
        }
        .schedule-overview li {
            padding-right: 48px;
        }
    }
    @media all and (max-width: 1024px) {
        .schedule-overview li {
            padding-right: 48px;
        }
    }
    @media all and (max-width: 767px) {
        .schedule-with-text .btn {
            margin-bottom: 32px;
        }
        .contained-gallery .btn {
            margin-bottom: 32px;
        }
    }
    .marker-pin {
        position: absolute;
        right: 32px;
        top: 0;
        height: 100%;
        .top {
            @extend %extend_1;
            top: 0;
        }
        .bottom {
            @extend %extend_1;
            bottom: 0;
        }
        .middle {
            width: 15px;
            height: 15px;
            border: none;
            background: $orange_bright;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 50% !important;
            position: absolute;
            right: -10px;
            top: 50%;
            margin-top: -9px;
            z-index: 2;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 0.3s ease-out;
        }
    }
    .contained-gallery .btn {
        margin-top: 24px;
        margin-right: 12px;
    }
}

#blog{
    position: relative;
    .container{
        z-index: 2;
    }
    .bg{
        z-index: 1;
        background: #000;
        width: 50%;
        height: 100%;
        display: block;
        position: absolute;

        background: url(../img/unsplash_key_noteblog.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center right;
        top: 0px;
        bottom: 0px;
    }
    .post-list{
        padding-top: 30px;
        padding-left: 60px;

        .post{
            margin-bottom: 30px;

            p{
                color: $text_gray_on_white;
            }
        }
    }
}

#sponsor{
    .content{
        height: 100%;
        margin: 0 auto;
        &.first{
          margin-top: 20px;
        }
        &.middle{
          border-top: 1px solid $gray_smoth;
          border-bottom: 1px solid $gray_smoth;
        }
        &:before{
            content: '';
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            margin-left: -0.25em;
        }
    }

    .who {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        font-family: $open_sans;
    }

    .logos{
      border-left: 1px solid $gray_smoth;
        >div{
            width: 20%;
            float: left;
            padding: 20px;
            margin: auto;

            img{
                width: 100%; height: auto;

                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                filter: grayscale(100%);

                transition: all 0.3s ease-out;

                &:hover{
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
        }
    }
}

@media all and (min-width: 1024px) {
  #sponsor{
    .logos{
      >div{
        &:nth-child(6){
          margin-left:10%;
        }
      }
    }
  }
}
/*!
// 12. Galleries
// --------------------------------------------------*/
//!
// 12. Galleries
// --------------------------------------------------*/

.instagram, .lightbox-gallery {
  position: relative;
  padding: 282px 0px;
}

.gallery-header .logo {
  max-width: 400px;
  display: block;
  margin: 0px auto;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .gallery-header {
    .logo {
      max-width: 200px;
    }
    h1 {
      font-size: 24px !important;
      line-height: 32px !important;
    }
  }
}

.instagram, .lightbox-gallery {
  overflow: hidden;
  background: #000 !important;
}

.instagram ul, .lightbox-gallery ul {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.instagram li, .lightbox-gallery li {
  float: left;
  width: 20%;
  height: 34%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  overflow: hidden;
  background-size: cover !important;
  opacity: 0.5;
}

.instagram li:hover, .lightbox-gallery li:hover {
  opacity: 1 !important;
}

.instagram .container, .lightbox-gallery .container {
  position: relative;
  z-index: 3;
}

.instagram i, .lightbox-gallery i {
  font-size: 48px;
  display: inline-block;
}

.instagram h1, .lightbox-gallery h1 {
  font-size: 42px;
  line-height: 48px;
  font-weight: 300;
  margin: 0px;
}

.lightbox-gallery a:hover {
  color: white;
}

@media all and (max-width: 1200px) {
  .instagram li:nth-child(n+13), .lightbox-gallery li:nth-child(n+13) {
    display: none;
  }
  .instagram li, .lightbox-gallery li {
    width: 25%;
  }
}

@media all and (max-width: 900px) {
  .instagram li:nth-child(n+11), .lightbox-gallery li:nth-child(n+11) {
    display: none;
  }
  .instagram li, .lightbox-gallery li {
    width: 33.333333%;
  }
}

@media all and (max-width: 767px) {
  .instagram, .lightbox-gallery {
    padding: 144px 0px;
  }
  .instagram li:nth-child(n+7), .lightbox-gallery li:nth-child(n+7) {
    display: none;
  }
  .instagram li, .lightbox-gallery li {
    width: 50%;
  }
}

.testimonials {
  background: #f5f5f5;
}

.contained-gallery {
  .instagram, .lightbox-gallery {
    padding: 185px 0px;
  }
  .instagram li:nth-child(n+9), .lightbox-gallery li:nth-child(n+9) {
    display: none;
  }
  .instagram li, .lightbox-gallery li {
    width: 25%;
    opacity: 0.7;
  }
}

@media all and (max-width: 1024px) {
  .contained-gallery {
    .instagram li:nth-child(n+7), .lightbox-gallery li:nth-child(n+7) {
      display: none;
    }
    .instagram li, .lightbox-gallery li {
      width: 33.33333%;
    }
    .instagram, .lightbox-gallery {
      padding: 200px 0px;
    }
  }
}

@media all and (max-width: 768px) {
  .contained-gallery {
    .instagram, .lightbox-gallery {
      margin-bottom: 32px;
    }
    .btn {
      margin-bottom: 0px;
    }
    .instagram li:nth-child(n+7), .lightbox-gallery li:nth-child(n+7) {
      display: block !important;
    }
    .instagram li:nth-child(n+9), .lightbox-gallery li:nth-child(n+9) {
      display: none !important;
    }
    .instagram li, .lightbox-gallery li {
      width: 33.33333% !important;
    }
  }
}
//!
// Backgrounds & Parallax
// --------------------------------------------------*/

.background-image-holder {
  position: absolute;
  width: 100%;
  height: 130%;
  top: -10%;
  background-size: cover !important;
  background-position: 50% 50% !important;
}

.image-holder {
  position: relative;
  overflow: hidden;
}


/* Marcendise */
.ps-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  color: #555;
  background: #fff;
  > div {
    position: absolute;
    width: 50%;
    > div {
      position: absolute;
    }
  }
}

.ps-slidewrapper > nav, .ps-slides > div {
  position: absolute;
}

.ps-header {
  top: 0px;
  left: 0px;
  height: 150px;
  z-index: 1001;
  background: #fff;
  padding: 40px 50px ;
  .title{
    position: static;
  }
  p{
    width: 345px;
    font-size: 24px;
    background: white;
    padding-left: 48px;
    text-transform: initial;
  }
}

.ps-contentwrapper {
  top: 150px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1000;
}

.ps-content {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 50px;
  h2 {
    padding: 10px 15px;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    letter-spacing: 4px;
    margin: 10px 0 30px;
    text-align: right;
    font-weight: 700;
  }
  p {
    line-height: 26px;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 10px;
    padding: 10px 15px;
    font-weight: 400;
    text-align: justify;
    border-left: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
  }
  span.ps-price {
    float: left;
    margin: 10px;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    color: #fff;
    background: #f7cfc6;
    background: rgba(247, 197, 185, 0.8);
    font-size: 55px;
    font-weight: 200;
  }
  a:last-child {
    font-size: 14px;
    font-weight: 700;
    color: #555;
    letter-spacing: 4px;
    float: right;
    border: 3px solid #555;
    padding: 3px;
    text-indent: 4px;
  }
}

.no-touch .ps-content a:last-child:hover {
  color: #b2d79d;
  border-color: #b2d79d;
}

.ps-content a:last-child:before {
  content: '\53';
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 5px;
}

.ps-slidewrapper {
  right: 0px;
  top: 0px;
  height: 100%;
  overflow: hidden;
}

.ps-slides {
  top: 0px;
  bottom: 200px;
  width: 100%;
  > div {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 9999px rgba(179, 157, 250, 0.1);
  }
}

.ps-slidewrapper > nav {
  width: 100%;
  height: 200px;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  > a {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    box-shadow: inset 0 0 0 9999px rgba(255, 202, 139, 0.8);
    outline: none;
    &:first-child {
      box-shadow: inset 0 0 0 9999px rgba(129, 216, 250, 0.8);
    }
  }
}

.no-touch .ps-slidewrapper > nav > a {
  -webkit-transition: box-shadow 0.4s ease-in-out;
  -moz-transition: box-shadow 0.4s ease-in-out;
  -ms-transition: box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  &:hover {
    box-shadow: inset 0 0 0 9999px rgba(255, 202, 139, 0.3);
  }
  &:first-child:hover {
    box-shadow: inset 0 0 0 9999px rgba(129, 216, 250, 0.3);
  }
}

.ps-slidewrapper > nav > a {
  &:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }
  &:first-child:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin: -80px 0 0 -50px;
  }
}

.ps-slides > div, .ps-slidewrapper > nav > a {
  background-color: #fff;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}

.ps-move {
  -webkit-transition: top 400ms ease-out;
  -moz-transition: top 400ms ease-out;
  -o-transition: top 400ms ease-out;
  -ms-transition: top 400ms ease-out;
  transition: top 400ms ease-out;
}

@media screen and (max-width: 860px) {
  .js {
    .ps-container > div {
      width: 100%;
    }
    .ps-header {
      height: 50px;
      h1 {
        line-height: 50px;
        padding: 0px 20px;
        letter-spacing: 4px;
      }
    }
    .ps-slides {
      bottom: 320px;
      top: 50px;
    }
    .ps-slidewrapper > nav {
      height: 100px;
    }
    .ps-contentwrapper {
      top: auto;
      height: 220px;
      bottom: 100px;
    }
    .ps-content {
      padding: 10px;
      h2 {
        border-right: none;
        font-size: 18px;
        margin: 10px 0;
        padding-top: 0;
      }
      span.ps-price {
        font-size: 18px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        line-height: 20px;
        border: none;
        padding: 5px 10px;
        height: 80px;
        overflow-y: scroll;
      }
      a:last-child {
        font-size: 13px;
        margin: 10px 20px 0 0;
      }
    }
  }
}
